* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 6rem 80vh repeat(5, -webkit-min-content);
  grid-template-rows: 6rem 80vh repeat(5, min-content);
  grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 1fr) [col-end]) [center-end] minmax(10rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(10rem, 1fr) [full-end];
}

.nav {
  background-color: rgba(230, 230, 230, 0.8);
  grid-column: full-start/full-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__logo {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 10px;
  margin-left: 10rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.nav__logo:hover {
  letter-spacing: 30px;
}
.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  list-style: none;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10rem;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: rgb(46, 45, 45);
  font-weight: 400;
  padding: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nav__link:hover {
  background-color: #fff;
  letter-spacing: 1.5px;
}

.nav__mobile {
  position: fixed;
  top: -110%;
  left: 0%;
  width: 100%;
  height: 50rem;
  display: block;
  z-index: 2;
  padding-top: 4rem;
  background-color: rgba(230, 230, 230, 0.5);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nav__mobile-link {
  display: block;
  text-align: center;
  margin-bottom: 1.6rem;
  padding: 1.2rem 1.6rem;
  list-style: none;
  text-decoration: none;
  color: rgb(46, 45, 45);
  font-size: 2.4rem;
}

.nav__mobile.active {
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__mobile-link:active,
.nav__mobile-link:hover {
  background-color: #fff;
}

.hamburger {
  position: fixed;
  display: block;
  width: 3.5rem;
  right: 4rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  display: none;
  z-index: 3;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.5rem;
  background-color: rgb(46, 45, 45);
  margin: 0.6rem 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hamburger.active::before {
  -webkit-transform: rotate(-45deg) translate(-9px, 17px);
          transform: rotate(-45deg) translate(-9px, 17px);
}

.hamburger.active::after {
  -webkit-transform: rotate(45deg) translate(-8px, -16px);
          transform: rotate(45deg) translate(-8px, -16px);
}

.hamburger.active .bar {
  opacity: 0;
}

.hero {
  grid-row: 2/3;
  grid-column: full-start/full-end;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
}
.hero__heading {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10rem;
}

.hero__buttons {
  grid-row: 2/3;
  grid-column: col-start 7/col-end 9;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
}
.hero__buttons__btn--1 {
  -ms-flex-item-align: end;
      align-self: end;
  margin-bottom: 3rem;
}
.hero__buttons__btn--2 {
  -ms-flex-item-align: start;
      align-self: start;
  margin-top: 3rem;
}

.about-us {
  grid-column: col-start 1/col-end 8;
  display: grid;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(3, -webkit-min-content);
  grid-template-columns: repeat(3, min-content);
  gap: 10rem;
  -webkit-column-gap: 30rem;
     -moz-column-gap: 30rem;
          column-gap: 30rem;
  justify-self: center;
  padding: 6rem;
  margin-top: 8rem;
}
.about-us__content {
  display: grid;
  grid-template-columns: minmax(30rem, 1fr);
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  gap: 2rem;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.about-us__text {
  font-size: 1.7rem;
  -ms-flex-item-align: start;
      align-self: start;
  padding: 0 1rem 1rem 1rem;
}
.about-us svg {
  width: 4rem;
  height: 4rem;
  fill: rgb(46, 45, 45);
}
.about-us p {
  text-align: center;
}

.models {
  margin-top: 10rem;
  grid-column: col-start 1/col-end 8;
}
.models__heading {
  text-align: center;
  margin-bottom: 10rem;
}
.models__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.models__info {
  padding: 6rem 4rem 2rem 4rem;
  background-color: rgba(230, 230, 230, 0.479);
}
.models__info__heading {
  margin-bottom: 2rem;
}
.models__img {
  width: 100%;
}
.models__text {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 4rem;
  line-height: 1.5;
}
.models__stats {
  display: inline-block;
  font-size: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  gap: 4rem;
}
.models__stats span {
  font-size: 2.6rem;
  font-weight: 700;
  margin-right: 0.5rem;
}
.models__btn {
  margin: 6rem auto;
}

.gallery {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 5vh);
  gap: 2rem;
  margin-top: 10rem;
  padding: 4rem;
}
.gallery__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__item--1 {
  grid-column: 1/4;
  grid-row: 1/-1;
}
.gallery__item--2 {
  grid-column: 4/6;
  grid-row: 1/6;
}
.gallery__item--3 {
  grid-row: 6/-1;
  grid-column: 4/8;
}
.gallery__item--4 {
  grid-row: 1/6;
  grid-column: 6/8;
}
.gallery__item--5 {
  grid-row: 1/-1;
  grid-column: 8/-1;
}

.shops {
  grid-column: center-start/center-end;
  margin-top: 10rem;
  margin-bottom: 20rem;
}
.shops__heading {
  text-align: center;
  margin-bottom: 10rem;
}
.shops__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}
.shops__content {
  background-color: rgba(230, 230, 230, 0.479);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.shops__content:hover {
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  -webkit-box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.3);
}
.shops__info {
  padding: 3rem;
}
.shops__img {
  width: 100%;
}
.shops__adress, .shops__host, .shops__phone {
  margin: 2rem 0rem;
  font-family: inherit;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.shops svg {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  fill: rgb(46, 45, 45);
  margin-right: 1rem;
}
.shops__btn {
  margin: 6rem auto;
}

.footer {
  background-color: rgba(230, 230, 230, 0.479);
  grid-column: full-start/full-end;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
}
.footer__logo {
  margin: 4rem auto;
}
.footer__heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.footer__heading--logo {
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 5px;
}
.footer__logo-media {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer svg {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}
.footer__contact-link {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(46, 45, 45);
  line-height: 1.4;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer__contact-link:hover {
  color: #fff;
}
.footer__contact-text {
  margin-bottom: 2rem;
}
.footer__contact-text p {
  font-size: 2rem;
  line-height: 1.4;
}
.footer__about-text, .footer__careers-text {
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  line-height: 2.8;
}
.footer__about-text a, .footer__careers-text a {
  text-decoration: none;
  color: rgb(46, 45, 45);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer__about-text a:hover, .footer__careers-text a:hover {
  color: #fff;
}

.heading-primary {
  font-size: 5rem;
  color: rgb(46, 45, 45);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
}

.heading-secondary {
  font-size: 4.4rem;
  color: rgb(46, 45, 45);
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading-tertiary {
  font-size: 3rem;
  color: rgb(46, 45, 45);
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading-quaternary {
  font-size: 2.6rem;
  color: rgb(46, 45, 45);
  font-weight: 400;
  letter-spacing: 2px;
}

.btn {
  background-color: transparent;
  padding: 3rem 6rem;
  font-size: 1.6rem;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn__link:link, .btn__link:visited {
  text-decoration: none;
  font-family: inherit;
  color: rgb(46, 45, 45);
  text-transform: uppercase;
}
.btn:hover {
  background-color: #fff;
  letter-spacing: 2px;
}
.btn--white:hover {
  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 100%;
  }
  .container {
    grid-template-rows: 6rem 120vh repeat(5, -webkit-min-content);
    grid-template-rows: 6rem 120vh repeat(5, min-content);
  }
  .hero__heading {
    margin-top: 8rem;
  }
  .gallery {
    grid-column: center-start/center-end;
    padding: 5rem;
    gap: 1rem;
  }
  .nav__logo {
    margin-left: 6rem;
  }
  .nav__items {
    margin-right: 6rem;
  }
}
@media only screen and (max-width: 50em) {
  .heading-primary {
    font-size: 4rem;
  }
  .heading-quaternary {
    font-size: 2rem;
  }
  .btn {
    padding: 1.8rem 3.6rem;
  }
  .nav__logo {
    margin-left: 6rem;
  }
  .nav__items {
    margin-right: 6rem;
  }
  .container {
    display: grid;
    grid-template-rows: 6rem 120vh repeat(5, -webkit-min-content);
    grid-template-rows: 6rem 120vh repeat(5, min-content);
  }
  .hero__buttons {
    margin-right: 4rem;
  }
  .hero__buttons__btn--1 {
    margin-bottom: -3rem;
  }
  .hero__buttons__btn--2 {
    margin-top: 6rem;
  }
  .about-us {
    -webkit-column-gap: 10rem;
       -moz-column-gap: 10rem;
            column-gap: 10rem;
  }
  .about-us__content {
    grid-template-columns: repeat(auto-fit, minmax(60vw, 1fr));
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
  }
  .models__content {
    grid-template-columns: 1fr;
    grid-row: repeat 6, 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .models__info--1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .models__img--1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .models__info--3 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .models__img--3 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .gallery {
    padding: 0rem;
    grid-template-rows: repeat(12, 8vh);
  }
  .shops__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shops__content {
    width: 70%;
  }
}
@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows: 6rem 150vh repeat(5, -webkit-min-content);
    grid-template-rows: 6rem 150vh repeat(5, min-content);
  }
  .nav__items {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .heading-primary {
    font-size: 3.2rem;
  }
  .hero__buttons {
    margin-right: 10rem;
  }
  .about-us {
    padding: 0;
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
    grid-template-rows: repeat(2, -webkit-min-content);
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(3, 80vw);
  }
  .about-us__content {
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 80vw;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2rem;
  }
  .footer__container {
    grid-template-columns: repeat(2, 30rem);
    gap: 8rem;
    -webkit-column-gap: 16rem;
       -moz-column-gap: 16rem;
            column-gap: 16rem;
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    margin: 4rem 0;
    justify-self: center;
  }
  .footer__about {
    justify-self: center;
  }
  .footer__contact {
    justify-self: start;
  }
  .footer__careers {
    justify-self: center;
  }
  .footer__about-text, .footer__careers-text {
    line-height: 2;
  }
}
@media only screen and (max-width: 31.25em) {
  .heading-primary {
    font-size: 3rem;
  }
  .heading-secondary {
    font-size: 2.8rem;
  }
  .heading-quaternary {
    font-size: 1.7rem;
    font-weight: 700;
  }
  .hero__buttons {
    display: none;
  }
  .about-us {
    grid-template-columns: repeat(3, 80vw);
  }
  .about-us__content {
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 80vw;
  }
  .models__content {
    gap: 0rem;
    grid-template-columns: 100%;
    grid-row: repeat 6, 1fr;
  }
  .models__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .models__info {
    margin-bottom: 4rem;
  }
}/*# sourceMappingURL=main.css.map */