.container {
	display: grid;
	grid-template-rows: 6rem 100vh repeat(5, min-content);
	grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8,[col-start] minmax(min-content, 1fr) [col-end]
		) [center-end] minmax(10rem, 1fr) [full-end];
}

